.career-Header {
  padding-top: 10px;
}


.career-text {
  font-size: medium;
  font-weight: 500;
  text-align: left;
}

#career-image {
  height: 50vh;
  max-width: 100%;
}

#career-image2 {
  max-width: 100%;
  max-height: 90vh;
  margin-top: 20px;
}

#career-image3 {
  max-width: 100%;
  max-height: 50vh;
}

#career-image4 {
  max-width: 100%;
  max-height: 90vh;
  margin-top: 20px;
}

#career-image5 {
  max-width: 100%;
  height: 42vh;
}

#career-image6 {
  max-width: 100%;
  max-height: 40vh;
  margin-top: 5%;
}

#career-image7 {
  max-width: 100%;
  max-height: 90vh;
  margin-top: 10px;
}

#career-image8 {
  margin-top: 10px;
  max-width: 100%;
}

#career-image9 {
  max-width: 100%;
  max-height: 40vh;
}

#career-image10 {
  max-width: 100%;
  height: 35vh;
}

#career-image11 {
  max-width: 100%;
  height: 50vh;
  margin-top: 15px;
}

#career-image12 {
  max-width: 100%;
  height: 50vh;
  margin-top: 15px;
}

#career-image13 {
  max-width: 100%;
  height: 60vh;
  margin-top: 15px;
}

#career-image14 {
  max-width: 70%;
  height: auto;
}

.career-hr {
  height: 5px;
  background-color: darkgray;
}

.career-subheading1 {
  margin-bottom: 20px;
  text-align: left;
}


.career-subheading2 {
  text-align: left;
  margin-bottom: -10px;
}

.career-subheading3 {
  text-align: left;
  margin-right: 10%;
}

.career-subheading4 {
  text-align: left;
}

.career-subheading5 {
  text-align: left;
}