hr {
    height: 4px;
    background-color: darkgray;
  
  }
  
  .Education-text{
    font-size: medium;
    font-weight: 500;
    text-align: left;
  
  }
  
  .einstein_school_png {
    max-width: 100%;
  }
  
  .polytechnic {
    max-width: 100%;
  }
  
  .einstein_wife_png {
    max-width: 100%;
    max-height: 59vh;
    margin-top: 1%;
  }
  