#life-container {
  padding-left: 8%;
  padding-right: 8%;

}

#life-header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.life-text {
  font-size: 15px;
  font-weight: 450;
  text-align: left;
  padding-top: 2%;
  line-height: 20px;
  text-align: left;
}

/* //images */
.life_einstein_png {
  width: 100%;
  height: 80%;
}