 .life-hr {
    height: 4px;
    background-color: darkgray;
  }
  
  .clearfix {
    padding-top: 2%;
  }
  
  .life-subheading{
    text-align: center;
    font-size: 25px;
  
  }
  
  .life-text {
    font-size: medium;
    font-weight: 500;
    text-align: left;
  
  }
  
  /* //images */
  .life_einstein_png {
    max-height: 100vh;
    max-width: 100%;
  }
  
  