nav {
    background-color: white;
   
  }
   
  .main-text {
   
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
  
  }
  
  .navbar-brand{
    margin-right: 0.2%;

  }
  .sub-text {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 500;

  }
  
  .navbar-brand:hover {
    color: grey;
  }
  
  .nav-link {
    letter-spacing: -0.1px;
    color: black;
    font-weight: 400;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }

  header{
    text-align: center;
    background-color: rgb(21, 19, 19);
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }