body {
  font-family: "Poppins", sans-serif;
}

/** life styling */

.heading1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

.hr1 {
  width: 100%;
  height: 5px;
  background-color: darkgray;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.txt1 {
  margin-top: 10%;
  font-size: medium;
  font-weight: 500;
  text-align: left;
}

.txt2 {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
  font-size: medium;
  font-weight: 500;
  text-align: center;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.heading2 {
  font-weight: bolder;
  text-align: center;
  padding-bottom: 2%;
}

.hr2 {
  height: 2px;
  background-color: darkgray;
}
.einstein2_png {
  padding-top: 8%;
  max-height: 100vh;
  width: 100%;
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
.einstein_award_png {
  max-height: 100vh;
  width: 25%;
  margin-left: 37.5%;
  margin-right: 37.5%;
}
.txt3 {
  padding-top: 3%;
  font-size: medium;
  font-weight: 300;
  text-align: center;
}
.books {
  max-height: 100vh;
  width: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 20px;
}
