#life{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

#education{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
  
}

#career{
    padding-top: 2%;
    font-size: 35px;
    text-align: center;
    font-weight: 600; 
}

#achievements {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 2%;
  
  }
  #nobelprize{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
  }

  #books{
        font-weight: 600;
        font-size: 40px;
        text-align: center;
    
  }