body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: white;
}

.navbar-brand {
  color: black;
  letter-spacing: 2px;
  text-align: center;
  padding: 0;
}

.navbar-brand .main-text {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar-brand .sub-text {
  font-size: 15px;
  letter-spacing: 3px;
  margin-top: -7px;
}

.navbar-brand:hover {
  color: grey;
}

.nav-link {
  letter-spacing: -0.8px;
  color: black;
  font-weight: 400;
}

.nav-link:hover {
  text-decoration: underline;
}

/* * carousel styling */
.carousel-item img {
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
}

/** life styling */

.heading1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;

}

.hr1 {
  width: 100%;
  height: 5px;
  background-color: darkgray;
}

.subheading1{
  text-align: center;
  font-weight: bold;
  font-size: x-large;

}


.einstein_png {
  max-height: 70vh;
  width: 100%;
  animation: 8s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.txt1 {
  margin-top: 10%;
  font-size: medium;
  font-weight: 500;
  text-align: left;

}

.txt2 {
  padding-top: 3%;
  font-size: medium;
  font-weight: 500;
  text-align: left;

}

.einstein_wife_png{
  max-height: 100vh;
  width:100%;
  padding-top: 10%;
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.heading2{
  font-weight: bolder;
  text-align: left;
  padding-top: 7%;

}

.hr2 {
  height: 2px;
  background-color: darkgray;
  
}
.einstein2_png{
  padding-top: 8%;
  max-height: 100vh;
  width:100%;
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.edu{
 
}